<div class="row">
  <div class="span12">
    <div class="media">
      <% if @user.avatar? %>
        <%= image_tag @user.avatar.url, class: 'pull-left' %>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
        <small>
          <%= pluralize(@user.promotions.count, 'promotion') %>
          
        </small>
      </div>
    </div>
  </div>
</div>

<br/>

<div class="row">
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#promotions" data-toggle="tab">Promotions</a></li>
      <li><a href="#available_coupons" data-toggle="tab">Available Coupons</a></li>
      <li><a href="#used_coupons" data-toggle="tab">Used Coupons</a></li>
      <li><a href="#account" data-toggle="tab">Account</a></li>
      <li><a href="#feedback" data-toggle="tab">Feedback</a></li>
   
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="promotions">
        <h4>Here is a list of your promotions.</h4>
        <hr>
      </div>
      <div class="tab-pane" id="available_coupons">
        <h4>Here is a list of your available coupons.</h4>
        
      </div>
      <div class="tab-pane" id="used_coupons">
        <h4>Here is a list of your used coupons.</h4>
        
      </div>
      <div class="tab-pane" id="account">
        <h4>Account Details</h4>
        
      </div>
      <div class="tab-pane" id="feedback">
        <h4>Here is a list feedback on your promotions</h4>
        
      </div>
    </div>
    
  </div>
</div>
