<div class="row">
  <div class="span12">
    <div class="media">
      <% if @user.avatar? %>
        <%= image_tag @user.avatar.url, class: 'pull-left' %>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
        <small>
          <%= pluralize(@user.promotions.count, 'promotion') %>,
          
        </small>
      </div>
    </div>
  </div>
</div>

<br/>

<div class="row">
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#promotions" data-toggle="tab">Promotions</a></li>
      <li><a href="#offers" data-toggle="tab">Offers</a></li>
    </ul>
    <div class="tab-content">
      
      
    </div>
  </div>
</div>
