<h3>Pricing</h3>

<p>Please select the pricing plan below that best suits your needs.</p>

<div class="row">
  <div class="span4">
<ul class="thumbnails">
  <li class="span4">
    <div class="thumbnail">
      <%= image_tag("lepiedsdanslo1.jpg") %>
      <h3>Elite</h3>
      <p>Go Live Concierge</p>
      <p>Campaign Set Up - $700</p>
      <p>Monthly Service - $200</p>
      <p>Thumbnail caption...</p>
      <p>Thumbnail caption...</p>
      <p><a href="users/sign_up" class="btn btn-small">Sign Up</a>
    </div>
  </li>
</ul>
</div>
<div class="span4">
<ul class="thumbnails">
  <li class="span4">
    <div class="thumbnail">
      <%= image_tag("lepiedsdanslo1.jpg") %>
      <h3>Premium</h3>
      <p>Thumbnail caption...</p>
      <p>Thumbnail caption...</p>
      <p>Thumbnail caption...</p>
      <p>Thumbnail caption...</p>
      <p>Thumbnail caption...</p>
      <p><a href="users/sign_up" class="btn btn-small">Sign Up</a>
    </div>
  </li>
</ul>
</div>
<div class="span4">
<ul class="thumbnails">
  <li class="span4">
    <div class="thumbnail">
      <%= image_tag("lepiedsdanslo1.jpg") %>
      <h3>Premium Plus</h3>
      <p>Thumbnail caption...</p>
      <p>Thumbnail caption...</p>
      <p>Thumbnail caption...</p>
      <p>Thumbnail caption...</p>
      <p>Thumbnail caption...</p>
      <p><a href="users/sign_up" class="btn btn-small">Sign Up</a>
    </div>
  </li>
</ul>
</div>
